/*
   	Copyright 2019 Pere Nubiola
    This file is part of CatCompass.

    CatCompass is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    CatCompass is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with CatCompass.  If not, see <https://www.gnu.org/licenses/>.
*/
@import url('https://fonts.googleapis.com/css?family=Charmonman|Courgette|Pacifico&display=swap');
.catNubiolaCompasDialog{
    margin: auto;
    border-radius: 50% 50% 50% 50%;
    border-color: coral;
    /*background-color: #D6B37A;*/
    background-color: black;
}
.catNubiolaCompasDialog .catNubiolaCompassContainer{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center
}
.catNubiolaCompasDialog .catNubiolabarraCtrlCompass{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    order: 1;
}
.catNubiolaCompasDialog .catNubioladivCompassSvg{
    order: 2;
}
.catNubiolaCompasDialog .catNubiolaCompassText{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}
.catNubiolaCompasDialog .catNubiolaCompassButtons{
    margin-top: 5px;
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}
.catNubiolaCompasDialog .catNubiolaTextdegrees{
    font-size  : 18px;
    color: coral;
}
.catNubiolaCompasDialog .catNubiolaCompassDegrees{
    font-family: 'Pacifico', cursive;
    font-size  : 24px;
    text-align: left;
    font-weight: bold;
    color: coral;
}
.catNubiolaCompasDialog .catNubiolaroundedButton {
    width: 60px;
    background-color: #BCC2B2;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: green;
    color: coral;
}
.catNubiolaCompasDialog .catNubiolaCompassOk{
    border-color: green;
}
.catNubiolaCompasDialog .catNubiolaCompassCancel{
    border-color: red;
}
.catNubiolaCompasDialog div svg{
    display: block;
    margin: auto;
}
.catNubiolaCompasDialog .catNubiolarecMarcCompas {
    fill: #D6B37A;
    stroke: none;
}
.catNubiolaCompasDialog .catNubiolaAgullaCompas{
    stroke-width:0.1;
    stroke-miterlimit:4;
    stroke-dasharray:none;
}
.catNubiolaCompasDialog .catNubiolabaseCompass{
    stroke: coral;
    fill: none;
    /*fill: #e8e0ca;*/
    stroke-width: 0 ;
}
.catNubiolaCompasDialog .catNubiolaguiesRosaDelsVentes{
    stroke: coral;
    stroke-width: 1;
}
.catNubiolaCompasDialog .catNubiolaTextCompass {
    font-family: 'Pacifico', cursive;
    font-size  : 12px;
    fill: red;
    stroke: none;
    text-anchor: middle;
}
.catNubiolaCompasDialog .catNubiolarosadelsvents{
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
}
.catNubiolaCompasDialog .catNubioladSegon{
    stroke: coral;
    fill: coral;
}
.catNubiolaCompasDialog .catNubioladPrincipal{
    stroke: yellow;
    fill: yellow;
}
.catNubiolaCompasDialog .catNubiolarosadelsventstext{
    font-family: 'Courgette', cursive;
    fill: black;
    stroke: coral;
    stroke-width: 1px;
    text-anchor: middle;
}
.catNubiolaCompasDialog .catNubiolaprincipal{
    font-size  : 24px;
}
.catNubiolaCompasDialog .catNubiolasegon{
    font-size  : 12px;
}
.catNubiolaCompasDialog .catNubiolaescut{
    fill: yellow;
    stroke: none;
}
.catNubiolaNivellDialog{
    margin: auto;
    border-radius: 10% 10% 10% 10%;
    border-color: coral;
    background-color: black;
}
.catNubiolaNivellDialog .catNubiolacontenidorNivell{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center
}
.catNubiolaNivellDialog .catNubiolabarraCtrlNivell{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    order: 1;
}
.catNubiolaNivellDialog .catNubioladivNivellSvg{
    order: 2;
}
.catNubiolaNivellDialog .catNubiolaNivellTextX{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}
.catNubiolaNivellDialog .catNubiolaNivellTextY{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}
.catNubiolaNivellDialog .catNubiolaNivellButtons{
    margin-top: 5px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}
.catNubiolaNivellDialog .catNubiolaTextXdegrees{
    font-size  : 18px;
    color: coral;
}
.catNubiolaNivellDialog .catNubiolaTextYdegrees{
    font-size  : 18px;
    color: coral;
}
.catNubiolaNivellDialog .catNubiolaNivellXDegrees{
    font-family: 'Pacifico', cursive;
    font-size  : 24px;
    text-align: left;
    font-weight: bold;
    color: coral;
}
.catNubiolaNivellDialog .catNubiolaNivellYDegrees{
    font-family: 'Pacifico', cursive;
    font-size  : 24px;
    text-align: left;
    font-weight: bold;
    color: coral;
}
.catNubiolaNivellDialog .catNubiolaroundedButton {
    width: 60px;
    background-color: #BCC2B2;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 2px;
    color: coral;
    margin-bottom: 10px;
}
.catNubiolaNivellDialog .catNubiolaNivellOk{
    border-color: green;
}
.catNubiolaNivellDialog .catNubiolaNivellCancel{
    border-color: red;
}
.catNubiolaNivellDialog .catNubiolaNivellGuia{
    stroke: coral;
    stroke-width: 2px;
    fill: none;
}
.catNubiolaNivellDialog .catNubiolaNivellLimit{
    stroke: coral;
    stroke-width: 2px;
    fill: none;
}

@media (orientation: landscape) {
    .catNubiolabodyEspace{
        margin-top: 100px;
    }
}
@media (orientation: portrait) {
    .catNubiolabodyEspace{
        margin-top: 200px;
    }
}
.catNubiolabodyEspace{
    background-color: LightCoral;
    margin-bottom: auto;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.catNubiolaespaceSelection{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
}
.catNubiolabuttonImage{
    background-color: black;
}
.catNubiolaImageButton{
    width: 60px;
    height: 60px;
}
.catNubiolaespaceResult{
    margin-left: 10px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}
.catNubiolatextResult{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.catNubiolaBruixolaNivelResult{
    margin-left: 10px;
    color: blue;
}
.catNubiolaabaouts{
    margin-top:50px;
    margin.left: 10px;
    align-self: stretch;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: black;
}
.catNubiolaabout{
    margin-left: auto
    margin.bottom: 10px;
}
.catNubiolaDeclaraGpl .catNubiolaImageGPL{
    background-color: white;
    margin-top: 10px;
    margin-left: auto;
}
catNubiolaDeclaraGpl .catNubiolaTextAbout{
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    text-justify: auto;
}
catNubiolaDeclaraGpl .catNubiolaCopyright{
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
catNubiolaDeclaraGpl .catNubiolaabout{
    margin-left: 80%;
    margin-right:5%;
}